{# page d'inscription #}


{# import de ma base pour company #}
{% extends "../layouts/companyBase.twig" %}

	{% block style %}
<link rel="stylesheet" href="/assets/css/style.css"> {% endblock %}


{% block main %}

	<div>
		<h1>Company-On</h1>
	</div>

	<div class="intro">
		<p>Create an account</p>
	</div>
	<form action="/register" method="POST" class="form">
		<label for="name">Company Name:</label>
		<input type="text" id="name" name="name" required>

		<label for="siret">SIRET Number:</label>
		<input type="text" id="siret" name="siret" required>

		<label for="email">email</label>
		<input type="email" id="email" name="email" required>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required>

		<button>Register</button>
	</form>


{% endblock %}
